# Node
node_modules/

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/
*.iml
.DS_Store

# Maven Build Output
target/
*.class
*.jar
*.war
*.ear
.mvn/

# Local Configuration (Database settings)
database.properties
